.section {
  min-height: 100vh;
  background: linear-gradient(180deg, #ff8024 0%, #70b2d4 100%);
}
.main {
  padding-top: 5rem;
  overflow: hidden;
}

.main > * + * {
  margin-top: 1.5rem;
}
.title {
  font-size: 2rem;
  font-weight: 600;
}

.input {
  width: 5rem;
  height: 2rem;
  background: #ff6f06;
  color: #000;
  outline: none;
  border: none;
  padding: 0.5rem;
}

.button {
  border-radius: 0.3125rem;
  background: #ff1f00;
  padding: 8px 16px;
  width: 60%;
  margin-bottom: 2rem;
}

.title {
  color: #d9d9d9;
}
@media screen and (max-width: 325px) {
  .title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 925px) {
  .main {
    padding-top: 1rem;
  }

  .input {
    width: 10rem;
    height: 2rem;
  }
}
